<strong>Olá, {{ user }}</strong>

<p>Uma aula foi cancelada, confira os detalhes abaixo:</p>

<p>
    <strong>Personal: </strong> {{ provider }} <br />
    <strong>Data/Hora: </strong> {{ date }} <br />
</p>

<small>
    Seus créditos foram reembolsados e você poderá marcar outra aula.
</small>