<strong>Olá, {{ provider }}</strong>

<p>Uma aula foi cancelada, confira os detalhes abaixo:</p>

<p>
    <strong>Cliente: </strong> {{ user }} <br />
    <strong>Data/Hora: </strong> {{ date }} <br />
</p>

<small>
    O horário está disponível para novos agendamentos.
</small>
